{% extends "base.html" %}
{% load static %}

{% block head %}
<link href="{% static 'general/css/user_list.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}

<div class="page-header">
  <h1>Contacts</h1>
</div>

<ul class="user-profiles-list">
  {% for user in user_list %}
  <li>
    <div class="user-avatar">
      <a href="{% url 'users:detail' user.username  %}" class="user-avatar">

        {% if user.picture %}
        <img src="/media/{{ user.picture }}" alt="Picture Profile" id="pic">
        {% else %}
        <img src="{% static 'img/user.png' %}" alt="No Profile Picture" />
        {% endif %}

      </a>
    </div>
    <p>
      <i class="fa fa-envelope" aria-hidden="true"></i>
      <a class="email" href="mailto:{{ user.email }}">
        {{ user.get_profile_name|title }}
      </a>
      <span>
        {% if user.job_title %}
        <i class="fa fa-briefcase" aria-hidden="true"></i>
        <i> {{ user.job_title}}</i>
        {% endif %}
      </span>
      <span>
        {% if user.location %}
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <i> {{ user.location }}</i>
        {% endif %}
      </span>
    </p>
  </li>
  {% endfor %}
</ul>

{% endblock content %}